#footer {
    background-color: #517f64;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
.big-text {
    display: inline-block;
    font-size: 1.3em;
    border: 2px solid white;
    padding: 10px;
}
.small-text {
    font-size: 1em;
    display: block;
}