/* 通用樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 導航欄樣式 */
.green-navbar {
    background-color: #77a88d;
    display: flex;
    align-items: center;
    padding: 6px;
    width: 100%;
    justify-content: space-between;
}

.logo-container {
    order: 0;
}

.logonav {
    width: 100px;
    /* 根據需要調整Logo大小 */
    height: auto;
}

.buttons-container {
    display: flex;
    gap: 10px;
    order: 1;
}

.nav-button {
    font-weight: bold;
    background-color: #77a88d;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    /* 調整字體大小 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #3a8d40;
}